@model ModelPagerArticle

@{
    ViewBag.Title = "列表信息";
    Layout = "~/Views/Shared/_LayoutContent.cshtml";
}
@using MvcApp.Areas.Manage.Models

@section SubContentNav{
    <p>@Model.KeyWord</p>
}

<div style="display: none;">
    <form id="MainForm" action="@Url.Action("Index", "Article")">
        @Html.HiddenFor(model => model.Category)
        @Html.HiddenFor(model => model.CategoryTwo)
    </form>
</div>
<!--列表 开始-->
<div id="MainContainer" class="main_container">

    @if (Model.ArtcleList != null && Model.ArtcleList.Count() > 0)
    {
        foreach (var item in Model.ArtcleList)
        {
        <div class="contlist">
            <div class="contlist_title">
                <a href="@Url.Action("Detail", "Article")\@item.Id">·@Library.Common.CommonMethod.ObjSubstringByLength(item.Title, 20)</a>
            </div>
            <div class="contlist_date">
                @string.Format("{0:yyyy-MM-dd}", item.Createdate)
            </div>
        </div>
                            
        }

    }
    else
    { 
        <div class="contlist">
            <p style="text-align: center">未查询到数据</p>
        </div>
    } 
    <br />
    <!--分页 开始-->
    <div>
        <div id="divPagerContainer" class="JasonPager">
        </div>
        <br />
    </div>
    <!--分页 结束-->


</div>
<!--列表 结束-->
@section Styles{
    <link href="@Url.Content("~/Content/themes/JasonPager/default.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/themes/msgbox/msgbox.css")" rel="stylesheet" />
}
@section Scripts{
    <script src="@Url.Content("~/Scripts/JasonPager.js")"></script>
    <script src="@Url.Content("~/Scripts/msgbox/msgbox.js")"></script>
    <script type="text/javascript">
        var htmlMyPagination = null;
        $(document).ready(function () {

            $.JasonPager.Load({
                pagerIndex: @Model.PagerIndex,                                   //当前页码
                pagerSize: 10,                                   //每页显示数量
                pagerCount: @Model.PagerCount,                                   //总页数  $(data).find("#PagerCount").val()
                pagerShowCount: 10,                                //分页控件显示页数
                pagerActionUrl: $("#mainForm").action,
                pagerActiveStyle: "active"
            });
            
        });
        function Search() {
            $.JasonPager.Submit(); 
        }
    </script>
}
