<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>@ViewBag.Title </title>
    <meta name="keywords" content="@ViewBag.KeyWord " />
    <meta name="description" content="@ViewBag.Description" />
    <link href="@Url.Content("~/Content/themes/Default/css/main.css")" rel="stylesheet" />
    @RenderSection("Styles", required: false)
    <!--[if lte IE 6]>
<script type="text/javascript" src="@Url.Content("~/Scripts/DD_belatedPNG_0.0.8a.js")"></script>
<script type="text/javascript">
  DD_belatedPNG.fix('*');
</script>
<![endif]-->

</head>
<body>

    <div class="container">
        <div>
            <div class="header">
                <div class="subMenu">
                    <div class="logo">
                        <div>
                            <a href="@Url.Action("Index","Home")"><img id='logo' src='@Url.Content("~/Images/Logo.jpg")'  border='0' alt="Logo" /></a>
                        </div>
                    </div>
                    <div class="subMenuRight">
                        <div class="subMenuRightTop">
                            <p><a href="@Url.Action("Login","Home")" >[会员登录]</a>	<a href="@Url.Action("Login","Home")" >[加入协会]</a>		</p>
                        </div>
                        <div class="subMenuRightBottom">
                        </div>
                    </div>
                </div>
                <div class="mainMenu">
                    @Html.Action("Navigation", "Home")
                </div>
            </div>
        </div>
        <div>
            <div class="content">@RenderBody()</div>
        </div>
        <div>
            <div class="footer">
                <div class="footer_top">
                    <p>
                        <a href="#">关于我们</a>|
                        <a href="#">联系我们</a>|
                        <a href="#">广告服务</a>|
                        <a href="#">网站地图</a>
                    </p>
                </div>
                <div class="footer_bottom">
                    <p>主办单位：中国产业用纺织品行业协会 电话:010-85229421 传真:010-85229425</p>
                     <p>京公网安备11010102000562号 京ICP备09054622号 </p>
                    
                </div>
            </div>
        </div>

    </div>

</body>
@RenderSection("Scripts", required: false)
</html>
