@model IEnumerable<Library.Models.ModelPictures>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>myFocus v2.0</title>
    <link href="@Url.Content("~/Scripts/myFocus/mf-pattern/mF_classicHB.css")" rel="stylesheet" />
   
    <style type="text/css">
        * {
            margin: 0;
            padding: 0;
            list-style: none;
        }
        /*body { background:#fff; font:12px/22px Verdana, Geneva, sans-serif; }*/
        img {
            border: 0;
        }

        .clear {
            clear: both;
            height: 0;
            overflow: hidden;
        } 
    </style>
    @if (ViewBag.IsSlide == "1")
    { 
     <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.8.2.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/myFocus/myfocus-2.0.1.min.js")"></script>
    <script src="@Url.Content("~/Scripts/myFocus/mf-pattern/mF_classicHB.js")"></script>
    <script type="text/javascript">
        //设置
        myFocus.set({
            id: 'myFocus',//ID
            pattern: 'mF_classicHB'//风格
           ,width: "@(ViewBag.width)", //设置宽度(主图区)
            height: "@(ViewBag.height)" //设置高度(主图区)
            , time: 10
            , index: 0,
            wrap: false,
            txtHeight: '0'
        });
    </script>
    }
</head>
<body>
    <div id="myFocus">
       <!--焦点图盒子-->
        @*<div class="loading">
            <img src="@Url.Content("~/Images/loading.gif")" alt="请稍候..." /></div> *@
        <!--载入画面(可删除)-->
        <div class="pic">
            <!--图片列表-->
            <ul>
                 @if (Model != null && Model.Count() > 0)
                {
                    foreach (var item in Model)
                    { 

                    <li><a href="@item.Piclink" target="_blank">
                        <img style="width:@(ViewBag.width)px; height:@(ViewBag.height)px" src="@Url.Content("~/Uploads/Images/" + item.Picuri)" alt="@item.Name" /></a></li>
                    }
                }
            </ul>
        </div>
    </div>
</body>
</html>
