@model IEnumerable<Library.Models.ModelPictures>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title></title>

    <link id="mfcss" rel="stylesheet" href="@Url.Content("~/Scripts/UISlide/mf-pattern/mF_classicHB.css")" />
    <!--引入风格应用css-->
    <style type="text/css">
        * {
            margin: 0;
            padding: 0;
            list-style: none;
        }
        /*body { background:#fff; font:12px/22px Verdana, Geneva, sans-serif; }*/
        img {
            border: 0;
        }

        .clear {
            clear: both;
            height: 0;
            overflow: hidden;
        }
    </style>
</head>
<body>
    <div id="myFocus">
        <!--焦点图盒子-->
        @*<div class="loading">
            <img src="@Url.Content("~/Images/loading.gif")" alt="请稍候..." /></div> *@
        <!--载入画面(可删除)-->
        <div class="pic">
            <!--图片列表-->
            <ul>
                @if (Model != null && Model.Count() > 0)
                    {
                        foreach (var item in Model)
                        { 

                        <li><a href="@item.Piclink" target="_blank">
                            <img src="@Url.Content("~/Uploads/Images/" + item.Picuri)" alt="@item.Name" /></a></li>
                        }
                    } 
            </ul>
        </div>
    </div>
     
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.8.2.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/UISlide/myfocus-2.0.1.full.js")"></script>
    <!--引入myFocus库-->
    <script type="text/javascript" src="@Url.Content("~/Scripts/UISlide/mf-pattern/mF_classicHB.js")"></script>
    <!--引入风格应用js-->
    @if (ViewBag.IsSlide == "1") { 
    <script type="text/javascript">
        $(document).ready(function () {
            myFocus.set({
                id: 'myFocus', //焦点图盒子ID
                pattern: 'mF_classicHB', //风格应用的名称
                time: 10, //切换时间间隔(秒)，省略设置即不自动切换
                trigger: 'click', //触发切换模式:'click'(点击)/'mouseover'(悬停)，默认'click'
                width: @(ViewBag.width), //设置宽度(主图区)
                height: @(ViewBag.height), //设置高度(主图区)
                wrap:false,
                index:0,
                txtHeight: '0'//文字层高度设置,'default'为默认高度，0为隐藏，默认'default'
            });
        });
    </script>
    }
</body>
</html>
