@model IEnumerable<Library.Models.ModelArticle>


<div class="sidebar_forum_top">
    <div class="sidebar_forum_top_left" > 
            <p style="margin-left:0px;padding-left:0px; color:#2d6193;"><a href="javascript:void(0);" style="color:#2d6193;" onmousemove="setTwoStyle()">@ViewBag.CategName</a>|<a style="color:#2d6193;" href="javascript:void(0);" onmousemove="setOneStyle()">行&nbsp;情</a></p> 
    </div>
    <div class="sidebar_forum_top_right">
        <p><a  href="@Url.Action("Index", "Article", new { Id = ViewBag.CategoryCode }) ">more</a></p>
    </div>
</div>
<div class="sidebar_forum_middle_top">
    &nbsp;
</div>
<div class="sidebar_forum_middle_middle" id="sidebar_forum_middle_middle_one" style="display: none;">
    <div class="sidebar_forum_middle_middle_one">
        @if (Model != null && Model.Count() > 0)
        {
            foreach (var item in Model)
            {
            <p><a href="@Url.Action("Detail", "Article", new { Id = item.Id }) " title="@item.Title"><i class="i_icon"><img src="@Url.Content("~/Content/themes/Default/images/circle_blue.jpg")" alt="" /></i>@Library.Common.CommonMethod.ObjSubstringByLength(item.Title, 25)</a> </p>
            }
        }
    </div>
</div>
<div class="sidebar_forum_middle_middle" id="sidebar_forum_middle_middle_two">
    <div class="sidebar_forum_middle_middle_two">
        <iframe class="iframeccfei" src="http://www.ccfei.com/ccfei/cnitapriceindex.aspx" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>
    </div>
</div>
<div class="sidebar_forum_middle_bottom">
    @if (Convert.ToInt32(ViewBag.CategIsAds) > 0)
    { 
        <div>
            <iframe src="@Url.Action("Banner", "Home", new { categoryCode = ViewBag.AdsCategoryCode, ownerCode = ViewBag.CategoryCode, width = "365", height = "80", isSlide = "0" })", width="370px"  height="85px" frameborder="0" scrolling="no"></iframe>
        </div>  
    }
</div>
<div class="sidebar_forum_bottom">
</div>

<script type="text/javascript">
    function setOneStyle() {
        document.getElementById("sidebar_forum_middle_middle_one").style.display = "none";//normal
        document.getElementById("sidebar_forum_middle_middle_two").style.display = "";
    }

    function setTwoStyle() {
        document.getElementById("sidebar_forum_middle_middle_one").style.display = "";
        document.getElementById("sidebar_forum_middle_middle_two").style.display = "none";
    }

</script>
