@{
    ViewBag.Title = "中国电气绝缘网";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Styles{
    <link href="@Url.Content("~/Scripts/ad112/ad.css")" rel="stylesheet" type="text/css" /> 
}
@section IndexTopAds{
    <div class="container" id="indextopads_container" style="margin: auto; display: none; top: 0px; overflow: hidden; text-align: center;">
       
        <div class="indextopads_container">
            <iframe src="@Url.Action("Banner", "Home", new { categoryCode = "84", ownerCode = "", width = "1098", height = "350", isSlide = "0" })", width="1100px"  height="350px" frameborder="0" scrolling="no"></iframe>
             <div style="margin-top:-30px;text-align:right;width:1098px;"><input  type="button" value="Close"  onclick="adsClose();" /></div>
        </div>
        
    </div>
}
<div class="banner">
    <div>
        <iframe src="@Url.Action("Banner", "Home", new { categoryCode = "31", ownerCode = "", width = "1098" })", width="1100px"  height="100px" frameborder="0" scrolling="no"></iframe>
    </div>
</div>
<div class="subcontent">
    <div>&nbsp;</div>
    <div class="subcontent_container">
        @*侧边栏 开始*@
        <div class="subcontent_sidebar">
            @*协会公告*@
            @Html.Action("SidebarForum", "Home", new { categoryCode = "18", adsCategoryCode = "33", isSlide = "0" })
            @*会员企业*@
            @Html.Action("SpeedForum", "Home", new { categoryCode = "48", adsCategoryCode = "33", isSlide = "0", topCount = "8888" })
            @*会展信息*@
            @Html.Action("SidebarForum", "Home", new { categoryCode = "6", adsCategoryCode = "33", isSlide = "0" })
            @*杂志*@
            @Html.Action("MagazineForum", "Home")
            @*纤维原料|行情*@
            @Html.Action("CategoryForumContent", "Home", new { categoryCode = 63, adsCategoryCode = "33", isSlide = "0", topCount = "6" })

        </div>
        @*侧边栏 结束*@
        @*内容 开始*@
        <div class="subcontent_content">
            <div class="subcontent_content subcontainer">
                <div class="subcontainer_top">
                </div>
                @{ 
                    var newlistCassName = "newlist";
                    if (Request.Browser.Browser.Contains("IE") || Request.Browser.Browser.Contains("InternetExplorer"))
                    {
                        newlistCassName = "newlistIE";
                        var ver = decimal.Zero;
                        decimal.TryParse(Request.Browser.Version,out ver);
                        if(ver == 7){
                            newlistCassName = "newlistIE7";
                        }
                        else if (ver == 8)
                        {
                            newlistCassName = "newlistIE8";
                        }
                        else if (ver == 9)
                        {
                            newlistCassName = "newlistIE9";
                        }
                    }
                }

                <div class="subcontainer_middle">
                    @*行 开始*@
                    <div class="@newlistCassName">
                        <div class="newlist_left">
                            <div class="newlist_left_one">
                                @*行业要闻*@
                                @Html.Action("IndexCategoryForum", "Home", new { categoryCode = "50", adsCategoryCode = "34", topCount = "6", isSlide = "0" ,isAbstract="1"})
                            </div>
                        </div>
                        <div class="newlist_right">
                            <div class="newlist_right_one">
                                <div>
                                    <iframe src="@Url.Action("Banner", "Home", new { categoryCode = "35", ownerCode = "35", width = "385", height = "260" })", width="390px"  height="260px" frameborder="0" scrolling="no"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*行 结束*@

                    @*行 开始*@
                    <div class="@newlistCassName">
                        <div class="newlist_left">
                            <div class="newlist_left_one">
                                @*调研统计*@
                                @Html.Action("IndexCategoryForum", "Home", new { categoryCode = "81", adsCategoryCode = "34", topCount = "6", isSlide = "0" })
                            </div>
                        </div>
                        <div class="newlist_right">
                            <div class="newlist_right_one">
                                @*专题专区*@
                                @Html.Action("IndexCategoryForum", "Home", new { categoryCode = "53", adsCategoryCode = "34", topCount = "6", isSlide = "0" })
                            </div>
                        </div>
                    </div>
                    @*行 结束*@

                    @*行 开始*@
                    <div class="@newlistCassName">
                        <div class="newlist_left">
                            <div class="newlist_left_one">
                                @*协会动态*@
                                @Html.Action("IndexCategoryForum", "Home", new { categoryCode = "49", adsCategoryCode = "34", topCount = "6", isSlide = "0" })
                            </div>
                        </div>
                        <div class="newlist_right">
                            <div class="newlist_right_one">
                                @*国内外标准化*@
                                @Html.Action("IndexCategoryForum", "Home", new { categoryCode = "67", adsCategoryCode = "34", topCount = "6", isSlide = "0" })
                            </div>
                        </div>
                    </div>
                    @*行 结束*@

                    @*行 开始*@
                    <div class="@newlistCassName">
                        <div class="newlist_left">
                            <div class="newlist_left_one">
                                @*新产品及技术*@
                                @Html.Action("IndexCategoryForum", "Home", new { categoryCode = "75", adsCategoryCode = "34", topCount = "6", isSlide = "0" })
                            </div>
                        </div>
                        <div class="newlist_right">
                            <div class="newlist_right_one">
                                @*检测技术研究*@
                                @Html.Action("IndexCategoryForum", "Home", new { categoryCode = "76", adsCategoryCode = "34", topCount = "6", isSlide = "0" })
                            </div>
                        </div>
                    </div>
                    @*行 结束*@

                    @*行 开始*@
                    <div class="@newlistCassName">
                        <div class="newlist_left">
                            <div class="newlist_left_one">
                                @*行业运行与发展*@
                                @Html.Action("IndexCategoryForum", "Home", new { categoryCode = "57", adsCategoryCode = "34", topCount = "6", isSlide = "0" })
                            </div>
                        </div>
                        <div class="newlist_right">
                            <div class="newlist_right_one">
                                @*企业文化*@
                                @Html.Action("IndexCategoryForum", "Home", new { categoryCode = "52", adsCategoryCode = "34", topCount = "6", isSlide = "0" })
                            </div>
                        </div>
                    </div>
                    @*行 结束*@

                    @*行 开始*@
                    <div class="@newlistCassName">
                        <div class="newlist_left">
                            <div class="newlist_left_one">
                                @*政策法规*@
                                @Html.Action("IndexCategoryForum", "Home", new { categoryCode = "51", adsCategoryCode = "34", topCount = "7", isSlide = "0" })
                            </div>
                        </div>
                        <div class="newlist_right">
                            <div class="newlist_right_one">
                                @*行业排名*@
                                @Html.Action("IndexCategoryForum", "Home", new { categoryCode = "58", adsCategoryCode = "34", topCount = "7", isSlide = "0" })
                            </div>
                        </div>
                    </div>
                    @*行 结束*@

                </div>
                <div class="subcontainer_bottom">
                </div>
            </div>
        </div>
        @*内容 结束*@
    </div>
    <div class="subcontent_container">
        @*友情链接-图片*@
        @Html.Action("LinksForum", "Home", new { Id = "74" })
        @*友情链接-文字*@
        @Html.Action("LinksForum", "Home", new { Id = "75" })
    </div>
</div>
@section Scripts{
    <script src="@Url.Content("~/Scripts/bootstrap/jquery.pin.min.js")"></script>
@*    <script src="@Url.Content("~/Scripts/boxy/js/jquery-boxy.js")" type="text/javascript"></script> *@
    <script type="text/javascript">
        var height = 0;
        var heightOld = 350;
        function TimeShow() {
            height = height + 15;
            $("#indextopads_container").height(height);
            if (height < heightOld) {
                setTimeout("TimeShow()", 10);
            } else {
                //setTimeout("noneAds()", 5000); //停留时间自己适当调整
            }
        }

        function TimeHide() {
            heightOld = heightOld - 15;
            $("#indextopads_container").height(heightOld);
            if (heightOld > 0) {
                setTimeout("TimeHide()", 10);
            } else {
                $("#indextopads_container").hide();
            }
        }

        function showAds() {
            var container = $("#indextopads_container");
            if (container) {
                //$("#indextopads_container").height(350);
                $("#indextopads_container").show();
            }
            
            TimeShow();
        }

        $(document).ready(function () {
            showAds();
            $("#lwc").pin({
                minWidth: 940
            });
            $("#rwc").pin({
                minWidth: 940
            });
            $("#rwc_c").pin({
                minWidth: 940
            });
            $("#lwc_c").pin({
                minWidth: 940
            });
            
        });

        function noneAds() {
            TimeHide();
        }

        function closeCoupletAds() {
            if ($("#lwc")) {
                $("#lwc").hide();
            }
            if ($("#rwc")) {
                $("#rwc").hide();
            }
            if ($("#lwc_c")) {
                $("#lwc_c").hide();
            }
            if ($("#rwc_c")) {
                $("#rwc_c").hide();
            }
        }

        function adsClose() {
            TimeHide();
        }

    </script>
@*    @Html.Raw(ViewBag.CustomScript)*@
}

@*@section CoupletAds{
@Html.Action("CoupletAds", "Home", new { categoryCode = "32" })
}*@