@model IEnumerable<Library.Models.ModelArticle>

@{
    var indexforumCassName = "indexforum_middle_middle";
    if (Request.Browser.Browser.Contains("IE") || Request.Browser.Browser.Contains("InternetExplorer"))
    {        
        var ver = decimal.Zero;
        decimal.TryParse(Request.Browser.Version, out ver);
       if (ver == 9)
        {
            indexforumCassName = "indexforum_middle_middleIE9";
        }
    }
  }

<div class="indexforum">
    <div class="indexforum_top">
        <div class="indexforum_top_left">
            <p>@ViewBag.CategName</p>
        </div>
        <div class="indexforum_top_right">
            <p><a href="@Url.Action("Index", "Article", new { Id = ViewBag.CategoryCode }) ">more</a></p>
        </div>
    </div>
    <div class="indexforum_middle">
        @if (ViewBag.IsAbstract=="1" && ViewBag.ArtTitle != null) { 
        <div class="indexforum_middle_top_title"><a href="@Url.Action("Detail", "Article", new { Id = ViewBag.ArtId }) " title="@ViewBag.ArtTitle">@Library.Common.CommonMethod.ObjSubstringByLength(ViewBag.ArtTitle,20)</a></div>
        <div class="indexforum_middle_top_cont">@Library.Common.CommonMethod.ObjSubstringByLength(ViewBag.ArtAbstract, 100)</div>
        }
        @if (Model != null && Model.Count() > 0)
        {
            foreach (var item in Model)
            {
                
            <div class="@indexforumCassName"><a href="@Url.Action("Detail", "Article", new { Id = item.Id }) " title="@item.Title"><i class="i_icon"><img src="@Url.Content("~/Content/themes/Default/images/circle_blue.jpg")" alt="" /></i>@Library.Common.CommonMethod.ObjSubstringByLength(item.Title, 25)</a> </div>
            }
        }
    </div>
    <div class="indexforum_bottom">
        @if (Convert.ToInt32(ViewBag.CategIsAds) > 0)
        { 
            <div>
                <iframe src="@Url.Action("Banner", "Home", new { categoryCode = ViewBag.AdsCategoryCode, ownerCode = ViewBag.CategoryCode, width = "355", height = "65", isSlide = "0" })", width="355px"  height="65px" frameborder="0" scrolling="no"></iframe>
            </div>  
        }
        
    </div>
</div>
